@import 'helpers/variables';

%diedot {
  height: $diedot-size;
  width: $diedot-size;
  background-color: $white;
  position: absolute;
  @include border-radius(100%);
  @include user-select(none);
}
