//die variables
$die-size: 24px;
$die-border: 1px solid black;

//diedot variables
$dienodot-size: $die-size - 4px;
$diedot-size: 4px;
$diedot-border: 1px solid transparent;
$diedot-border-distance: 3px;
