@import 'helpers/mixins';
@import 'helpers/variables';
@import 'helpers/placeholders';

.die {
  @include die;
  border: $die-border;
  margin: 0 auto;
  @include border-radius($die-size / 10);
}

.dieYahtzeeBonus {
  @include die;
  margin: 0 auto;
}

.dieCover {
  @include die(absolute);
  background-color: transparent;
  z-index: 999;
  margin: {
    top: -1px;
    left: -1px;
  }

  &:hover {
    cursor: pointer;
  }
}

//dieDots
.dieGlyphicon {
  position: absolute;
  top: 50%;
  left: 50%;
  @include user-select(none);
  font-size: $dienodot-size;
  margin: {
    top: -$dienodot-size/2;
    left: -$dienodot-size/2;
  }
}

.dieDotTopLeft {
  @extend %diedot;
  top: $diedot-border-distance;
  left: $diedot-border-distance;
}

.dieDotTopCenter {
  @extend %diedot;
  top: $diedot-border-distance;
  left: 50%;
  margin-left: -$diedot-size/2;
}

.dieDotTopRight {
  @extend %diedot;
  top: $diedot-border-distance;
  right: $diedot-border-distance;
}

.dieDotBottomLeft {
  @extend %diedot;
  bottom: $diedot-border-distance;
  left: $diedot-border-distance;
}

.dieDotBottomCenter {
  @extend %diedot;
  bottom: $diedot-border-distance;
  left: 50%;
  margin-left: -$diedot-size/2;
}

.dieDotBottomRight {
  @extend %diedot;
  bottom: $diedot-border-distance;
  right: $diedot-border-distance;
}

.dieDotCenter {
  @extend %diedot;
  top: 50%;
  left: 50%;
  margin: {
    top: -$diedot-size/2;
    left: -$diedot-size/2;
  }
}
