@import 'helpers/mixins';
@import 'helpers/variables';
@import 'helpers/placeholders';

.die {
  @include die;
  margin: 0 auto;
}

.dieCover {
  @include die($diedot-border, absolute);
  background-color: transparent;
  z-index: 999;

  &:hover {
    cursor: pointer;
  }
}

//dieDots
.dieNoDot {
  font-size: $dienodot-size;
  position: absolute;
  top: 50%;
  margin-top: -$dienodot-size/2;
  left: 50%;
  margin-left: -$dienodot-size/2;
  @include user-select(none);
}

.dieDotTopLeft {
  @extend %diedot;
  top: $diedot-border-distance;
  left: $diedot-border-distance;
}

.dieDotTopCenter {
  @extend %diedot;
  top: $diedot-border-distance;
  left: 50%;
  margin-left: -$diedot-size/2;
}

.dieDotTopRight {
  @extend %diedot;
  top: $diedot-border-distance;
  right: $diedot-border-distance;
}

.dieDotBottomLeft {
  @extend %diedot;
  bottom: $diedot-border-distance;
  left: $diedot-border-distance;
}

.dieDotBottomCenter {
  @extend %diedot;
  bottom: $diedot-border-distance;
  left: 50%;
  margin-left: -$diedot-size/2;
}

.dieDotBottomRight {
  @extend %diedot;
  bottom: $diedot-border-distance;
  right: $diedot-border-distance;
}

.dieDotCenter {
  @extend %diedot;
  top: 50%;
  margin-top: -$diedot-size/2;
  left: 50%;
  margin-left: -$diedot-size/2;
}
