@import 'helpers/mixins';
@import 'helpers/variables';
@import 'helpers/placeholders';


.jumbotron {
  height: $jumbotron-height;
  padding: {
    top: $jumbotron-unit;
    bottom: $jumbotron-unit;
  }

  margin-bottom: 0;
}

.title {
  height: $jumbotron-title-height;
  font-weight: 700;
  margin-bottom: $jumbotron-unit;
}

.winner {
  height: $jumbotron-winner;
  margin-bottom: $jumbotron-unit;
  line-height: $jumbotron-winner-height;
}

@media (max-width: 768px) {
  .title {
    font-size: $jumbotron-title-font-size-s;
    line-height: $jumbotron-title-height-s;
  }

  .winner {
    font-size: $jumbotron-winner-s;
  }
}

@media (min-width: 769px) {
  .title {
    font-size: $jumbotron-title-font-size;
    line-height: $jumbotron-title-height;
  }

  .winner {
    font-size: $jumbotron-winner;
  }
}

.winnerText {
  font-weight: 700;
  color: red;
}

#newPlayerButton, #newMatch {
  @extend %jumbotronForm;
  height: $jumbotron-buttons;
}

#newPlayerText {
  @extend %jumbotronForm;
  height: $jumbotron-input;
}

.formWrapper {
  padding: 0;
  margin-bottom: $jumbotron-unit;
}

#newMatchAlert {
  width: 100%;
  font-size: $jumbotron-alert-text-size;
  @include vertical-align(absolute);
  z-index: 1051;
}
