@import 'helpers/mixins';
@import 'helpers/variables';
@import 'helpers/placeholders';

@media (max-width: 722px) {
  .onePlayer, .twoPlayers,
  .threePlayers, .fourPlayers {
    width: 90%;
  }
 }

@media (min-width: 723px) and (max-width: 1100px) {
  .onePlayer {
    width: 80%;
  }

  .twoPlayers, .threePlayers,
  .fourPlayers {
    width: 50%;
  }
}

@media (min-width: 1101px) {
  .onePlayer {
    width: 70%;
  }

  .twoPlayers {
    width: 50%;
  }

  .threePlayers, .fourPlayers {
    width: 33%;
  }
}

@media (min-width: 1450px) {
  .onePlayer {
    width: 40%;
  }

  .twoPlayers {
    width: 50%;
  }

  .threePlayers {
    width: 33%;
  }

  .fourPlayers {
    width: 25%;
  }
}
